/* Styling for the entire body */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

/* Styling for main content area containers */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Styling for the header and footer elements */
header,
footer {
  margin: 0;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  background-color: #ffa64e;
  border-radius: 8px 8px 0 0;
}

/* Styling for the main content area */
main {
  padding: 20px;
}

/* Styling for h2 headings */
h2 {
  color: #ff8b19;
  border-bottom: 2px solid #f5c27b;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

/* Styling for the details element */
details {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffe2b9;
  border: 1px solid #f3dabd;
  border-radius: 5px;
}

/* Styling for the summary element */
summary {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

/* Styling for hover effect on the summary element */
summary:hover {
  background-color: #f5c27b;
  border-radius: 5px;
}

/* Styling for custom marker in the summary element */
summary::marker {
  content: "► ";
}

/* Styling for custom marker when details is open */
details[open] summary::marker {
  content: "▼ ";
}

/* Styling for the content list */
.content-list {
  padding-left: 20px;
  margin-top: 10px;
}

/* Styling for paragraphs within the content list */
.content-list p {
  margin: 5px 0;
  padding: 8px;
  background-color: #f6dfc3;
  border-left: 3px solid #fd8c41;
  border-radius: 3px;
}

/* Styling for report print button */
button {
  margin: 20px 0;
  background-color: #ea9e47;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

/* Styling for report print button on hover */
button:hover {
  background-color: #45a049;
}
